.product-card {
    margin:1em 0.5em 0;
    
}

.product-card h3 {
    font-size:1em;
}

.price {
    font-size: 1em !important;
    color:#33A68C;
    font-weight: bold;
}

.product-card p{
    font-size:0.8em;
}
