#counter {
    background:white;
    border: 2px solid #DFDFDF;
    border-radius:5px;
    padding: 0.5em 1em;
}

#addToCart, #addToCartNoStock {
    padding: 0.5em 1em;
}

#addToCart {
    background:#2294C6;
    color: white;
    border:none;
}


#addToCartNoStock {
    background:#D9F0F9;
    color:#FCFCFC;
    border:none;
}

#addToCartNoStock:focus, #addToCartNoStock:active {
    outline: none;
    box-shadow: none;
  }